Django==5.2.6
djangorestframework==3.16.1

# Работа с базой данных
dj-database-url==3.0.1
psycopg2-binary==2.9.10

# Веб-сервер для продакшена
gunicorn==23.0.0

# Взаимодействие с фронтендом (CORS)
django-cors-headers==4.8.0

# Интеграция с Google API
google-api-python-client==2.140.0
google-auth-oauthlib==1.2.1

# Для переменных окружения и статики в проде
whitenoise==6.10.0
python-dotenv